/* Default styles */
.gallery-container {
  display: flex;
  justify-content: space-around;
  background-color: black;
  margin-top: 3rem;
  justify-content: space-between;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.gallery-image {
  width: 20rem;
  height: auto; 
  max-width: 20rem;
  border-radius: 1rem; 
  justify-content: center;
}

.gallery-caption {
  margin-top: 1rem; 
  text-align: center;
  font-size: 1.2rem; 
  color: white;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .gallery-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-image {
    width: 100%; 
    max-width: none; 
    margin: 1rem; 
  }

  .gallery-caption {
    font-size: 1rem; 
  }
}
